@import 'tailwindcss';

@font-face{
  font-family: "Controller Normal";
  src: url("/fonts/Controller-Normal.ttf") format("truetype");
}

.title {
  font-family: "Controller Normal", sans-serif;
}
:root {
  font-family: Roboto, Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
